<h1>Contact info</h1>
<h3><%= @contact.first_name %> <%= @contact.middle_name %> <%= @contact.last_name %></h3>
<p><%= @contact.email %></p>
<p><%= @contact.phone_number %></p>
<p><%= @contact.address %></p>
<p><%= @contact.bio %></p>
<p>Groups: <%= @contact.groups.pluck(:name).join(', ') %></p>
<div>
  <a href="/contacts">Go back to all contacts</a>
</div>
<div>
  <a href="/contacts/<%= @contact.id %>/edit">Edit this contact</a>
</div>
<div>
  <%= link_to "Destroy this contact", "/contacts/#{@contact.id}", method: :delete %>
</div>
